<!-- Include the navbar partial -->
<%- include ('partials/header') -%>
<div class="container">
    <div class="text-center mt-5">
        <h1 class="mb-3">Email Sent</h1>
        <p>Please check your inbox to confirm your email.</p>
        <p>Didn't receive the email? Click the button below to resend the confirmation:</p>
        <form action="/send_confirmation_email" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <button type="submit" class="btn btn-primary">Resend Confirmation</button>
        </form>
    </div> 
</div>
<!-- Add Bootstrap JS link and your custom JavaScript file link -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>