<!-- Include the navbar partial -->
<%- include ('partials/header') -%>
  <div class="container">
    <div class="text-center mt-5">
      <h1 class="mb-3">Getting Started</h1>
      <form action="/send_confirmation_email" method="POST">
        <div class="form-group">
          <label for="email">Enter the email address below where you would like to receive your alerts</label>
          <input type="email" class="form-control w-25 mx-auto" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
          <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> 
  </div>
<!-- Add Bootstrap JS link and your custom JavaScript file link -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>